@font-face{ 
	font-family: 'Thunder-BlackLC';
	src: url('Thunder-BlackLC.woff2') format('woff2'),
         url('Thunder-BlackLC.woff') format('woff');
}

@font-face{ 
	font-family: 'Thunder-BoldLC';
	src: url('Thunder-BoldLC.woff2') format('woff2'),
         url('Thunder-BoldLC.woff') format('woff');
}

@-webkit-keyframes marqueeFw {
  0% { 
    -webkit-transform: translate3d(0,0,0);  }
  100% { 
    -webkit-transform: translate3d(-50%,0,0); }
}

@-webkit-keyframes marqueeBw {
  0% { 
    -webkit-transform: translate3d(-50%,0,0); 
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
   }
  }

@keyframes marqueeFw {
  from { 
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
  
  to {
    transform: translate3d(-50%,0,0);
    -webkit-transform: translate3d(-50%,0,0); 
  }
}

@keyframes marqueeBw {
  from { 
    transform: translate3d(-50%,0,0); 
    -webkit-transform: translate3d(-50%,0,0); 
  }
  
  to { 
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
   
}

body {
  margin: 0;
  padding: 0;
  color: #f9ebcf;
  background: #0066FF;
}

h1{
  margin-top: 20px;
  font-size: 6rem;
  font-family:'Thunder-BoldLC', Arial, monospace;
  line-height: 0.95;
}

.announcement {
  position: fixed;
  z-index: 98;
  height: 100vh;
  width: 50vw;
  background: #000;
  right: 0px;
  overflow-y: scroll;
}

.announcement .title{
  min-height: 20vh;
  margin-left: 8px;
  margin-top: 20px;
  line-height: 1;
}

.announcement .title h1{
  margin-block-start: 0;  
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.35em;
  font-weight: bold;
  margin: 8px;
}

.logosvg{
  position:relative;
  height: 100%;
}
.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;  
  font-size:33vh;
  font-family:'Thunder-BlackLC', Courier, monospace;
  line-height: 1;
}

.paused{
  -webkit-animation-play-state:paused !important;
  -moz-animation-play-state:paused !important;
  -o-animation-play-state:paused !important; 
  animation-play-state:paused !important;
}

.track {
  position: absolute;
  white-space: nowrap;
  top: -0.5vh;
  -moz-animation: marqueeFw 100s linear infinite;
  -webkit-animation: marqueeFw 100s linear infinite;
  animation: marqueeFw 100s linear infinite;
}
.track2 {
  position: absolute;
  white-space: nowrap;
  top: 25vh;
  -moz-animation: marqueeBw 100s linear infinite;
  -webkit-animation: marqueeBw 100s linear infinite;
  animation: marqueeBw 100s linear infinite;
}
.track3 {
  position: absolute;
  white-space: nowrap;
  top: 50vh;
  -moz-animation: marqueeFw 100s linear infinite;
  -webkit-animation: marqueeFw 100s linear infinite;
  animation: marqueeFw 100s linear infinite;
}
.track4 {
  position: absolute;
  white-space: nowrap;
  top: 75vh;
  -moz-animation: marqueeBw 100s linear infinite;
  -webkit-animation: marqueeBw 100s linear infinite;
  animation: marqueeBw 100s linear infinite;
}
.track5 {
  position: absolute;
  white-space: nowrap;
  -moz-animation: marqueeFw 100s linear infinite;
  -webkit-animation: marqueeFw 100s linear infinite;
  animation: marqueeFw 100s linear infinite;
  visibility: hidden;
}
.track6 {
  position: absolute;
  white-space: nowrap;
  -moz-animation: marqueeBw 100s linear infinite;
  -webkit-animation: marqueeBw 100s linear infinite;
  animation: marqueeBw 100s linear infinite;
  visibility: hidden;
}

#svg-element {
  z-index: 99;
  left: 25%;
  top: 50%;
  transform: translate3d(-52%, -50%, 0) scale3d(0.5, 0.5, 1);
  -webkit-transform: translate3d(-52%, -50%, 0) scale3d(0.5, 0.5, 1);
  position: absolute;
  overflow: visible;
}

/* Safari 10.1+ */
@media not all and (min-resolution:.001dpcm) { @media {

  #svg-element { 
    transform: translate3d(-52%, -50%, 0) scale3d(0.3, 0.3, 1);
    -webkit-transform: translate3d(-52%, -50%, 0) scale3d(0.4, 0.4, 1);

  }
}}

@media screen 
  and (max-width: 820px)
  and (orientation: portrait)  {

  .marquee{
    display: none;
  }  
  .announcement{
    position: relative;
      width: 100vw;
  }

  p{
  font-size: 1  em;
  }
}


